.schedule
{
	background-color: white;
	width: 100%;
}
table, th, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
}
th
{
	background-color:pink;
	font-size: 1.2em;
}
tr:hover
{
	background-color:purple;
	color:white;
}
caption
{
	font-size:2.5em;
	background-color: rgb(154, 0, 160);
	font-family:"Times New Roman", sans-serif;
	color: white;
}
td
{
	font-size: 0.95em;
}
