/*
Kassidy Cantrell
SEC 131
August 22, 2019
*/

@charset "utf-8";


html {
	background-color: gray;
	color: white;
	font-family: "Times New Roman", Times, serif;
}

body {
	margin: 0px;
}

h1 {
	font-size: 2.5em;
	position: absolute;
	top: 50px;
	left: 100px;
	z-index: 1;
	font-variant: small-caps;
}

h1:first-letter {
	font-size: 2.75em;
}

header img {
	background-repeat: repeat-x;
}

nav a{
	display: inline;
	text-align: center;
	font-size: 25px;
	text-decoration: none;
	margin: 0.5em; /* creates space in between nav links */
	padding: 5px 10px;
}

nav a:hover {
	color: lightblue;
	background-color: black;
}

nav a:visited {
	color: pink;
}

p {
	text-align: center;
	font-family: Ariel;
	width: 20%;
	position: relative;
	top: 50px;
	left: 200px;
	font-size: 1.2em;
}

#fam {
	float: right;
	box-shadow: -25px -10px 6px black;
	border-style: solid;
	border-width: 15px;
	position: relative;
	top: 10px;
}

.kitty {
	position: absolute;
	top: 300px;
	left: 550px;
	border-style: ridge;
	border-color: green;
	border-width: 10px;
	box-shadow: 10px -5px 6px green;
}

.dogs {
	position: absolute;
	top: 250px;
	right: 50px;
}





