@charset "utf-8";

/* Kassidy Cantrell*/
/* 2/13/19 */
/* Diet Water */

html{
		background-color:pink;
		color:gray;
}
#main{
		padding-left:15px;
		padding-right:15px;
}
#contact{
		margin-left:auto;
		margin-right:auto;
		padding-bottom:0px;
		padding-top:0px;
		width:60%;
}
a:visited{
		color:white;
}
a:hover a:focus{
		color:black;
}
