@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Kassidy Cantrell
   Date: 3-24-19
	
   Filename: br_styles.css

*/

html, body
{
	background-image: url(br_paper.png);
}

body > header > img 
{
   display: block;
   width: 100%;
   position: relative;
}
header nav li
{
	background-color:yellow;
	width:100%;
	height: 30px;
	float: center;
	padding: 10px 90px;
	list-style-type: none;
	margin: 0;
	display: inline;

}
header nav li a:link, header nav li a:visited
{
	font-size: 1.1em;
}
header nav li a:hover, header nav li a:active, header nav li a:hover
{
	color: rgb(147, 29, 249)
}
.Desc
{
	border: 2px solid gray;
	border-radius: 25px;
	padding: 15px;
	margin:5px;
	width:80%;	
	font-family: "Times New Roman", Helvetica, sans-serif;
	font-size: 1.3em;
	box-shadow: rgb(138, 136, 140);
	box-shadow: 5px 10px #888888;
	position: relative;
	top: 30px;
}
.Add
{
	font-family: "Times New Roman", Times, serif;
	padding: 10px 10px 30px 10px;
	margin:10px;
	float:right;
	text-shadow: 2px 2px 8px #FF0000;
	position: absolute;
	top: 1275px;
	right: 40px;
	font-size: 20px;
}
footer p ul
{
	font-family: "Times New Roman", Times, serif;
	float:left;
	text-shadow:2px 2px 8px #FF0000;
	display: inline;
	color: gray;
}
#myGrid
{
	display:grid;
	grid-template-columns: auto auto auto;
	box-shadow:5px 10px #888888;
	position: relative;
	top: 20px;
	bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15 px;
	color: blue;
}
header > section > img
{
	transform:rotateX(30deg);
}

#pageNav2
{
	display: inline;
	color: white;
	background-color: black;
}

